@mixin align_middle_in_block {
  position: absolute;
  top: 50%;
  margin-top: -0.4em;
  text-align: center;
}

:root {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  line-height: 0.8em;
}

body {
  padding: 0;
  margin: 0;
  background-color: #fff;
}

#header {
  height: 8.8em;
  background-color: #f4f4f4;
  box-shadow: 0 0 0.5em #bdbdbd;
  padding-left: 4.8em;
  padding-right: 4.8em;
}

.button {
  position: relative;
  float: left;
  width: 7em;
  height: 2.2em;
  margin-right: 0.8em;
  background-color: #006fca;
  color: #fff;
  font-weight: 600;
  box-shadow: 0 2px 3px #b1b1b1;
  border-radius: 0.25em;
  top: 4.8em;
  cursor: pointer;

  div {
    width: 100%;
    @include align_middle_in_block;
  }
}

.search {
  position: relative;
  float: right;
  width: 16em;
  height: 2.2em;
  border-radius: 0.3em;
  background-color: #fff;
  border: 0.1em solid #b1b1b1;
  top: 4.8em;
  margin-left: 1.1em;
  padding-left: 0.4em;  
  padding-right: 0.4em;
  box-shadow: inset 0 0 2px #b1b1b1;

  input {
    width: 100%;
    padding-top: 0.5em;
    border: none;
    color: #b1b1b1;
    outline: none;
  }
}

.magnifier {
  cursor: pointer;
  position: relative;
  float: right;
  top: 5.45em; 
  width: 0.6em; 
  height: 0.6em; 
  border: 0.15em solid #b1b1b1;
  border-radius: 50%;
}

.magnifier:before {
  content: "";
  position: absolute; 
  width: 0.56em; 
  height: 0.21em;
  right: -0.46em; 
  bottom: -0.28em;
  background: #b1b1b1;
  transform: rotate(45deg);
}

#content {
  padding-left: 4.8em;
  padding-right: 4.8em;
  padding-bottom: 2em;
}

.calendar {
  width: 100%;
  margin-top: 2em;
  border-spacing: 0;
  border-left: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;

  td {
    position: relative;
    border-right: 1px solid #ebebeb;
    border-top: 1px solid #ebebeb;
    text-align: left;
  }

  td:after {
    content: '';
    display: block;
    margin-top: 100%;
  }

  td .content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.5em;

    span {
      color: #777777;

      &.current_date {
        font-weight: bold;
      }
    }
  }
}
